#products{
	display: block;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 25px;
}

a:link { font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none}
a:hover { font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none}
a:visited { font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none}

#products > div{
	display: inline-block;
	width: 265px;
	height: 225px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-radius: 15px;
	background-color: rgb(139,186,200);
}
#products > div > img{
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
#products > div > h3{
	font-size: 20px;
	font-family: Helvetica;
	color: #5A5A5A;
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
}
#products > div > a > div{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:800;
	color: #FFFFFF;
	width: 120px;
	height: 35px;

	border-radius: 15px;
	background-color: rgb(0,61,103);
}
#products > div > a > div:hover{
	background-color: rgb(20,81,123);
}